.lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.lista li {
    align-items: center;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 25px 0;
    width: 250px;
}

.lista li p{
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.lista li p:last-of-type{
    font-weight: bold;
}

.click {
    cursor: pointer;
}

